footer{
    padding-top: 60px;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 38px 38px 38px;
    grid-column-gap: 10px;
}
#facebook{
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    text-align: center;
    background: url(/images/401-facebook.svg);
    width: 20px;
    height: 20px;
    padding: 6px;
    background-size: 15px;
    border-radius: 50%;
    border: solid white 2px;
    background-repeat: no-repeat;
    background-position: 8.3px;
    margin-right: 10px;
}
#twitter{
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    background: url(/images/407-twitter.svg);
    width: 20px;
    height: 20px;
    padding: 6px;
    background-size: 15px;
    border-radius: 50%;
    border: solid white 2px;
    background-repeat: no-repeat;
    background-position:center;
    margin-right: 10px;
}
#instagram{
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    background: url(/images/403-instagram.svg);
    width: 20px;
    height: 20px;
    padding: 6px;
    background-size: 15px;
    border-radius: 50%;
    border: solid white 2px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}
#facebook:hover {
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transform:scale(1.1);
    background: url("/images/401,5-facebook.svg");
    width: 20px;
    height: 20px;
    padding: 6px;
    background-size: 15px;
    border-radius: 50%;
    border: solid $clr-text 2px;
    background-repeat: no-repeat;
    background-position: 8.3px;
    margin-right: 10px;
}
#twitter:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transform:scale(1.1);
    background: url("/images/407,5-twitter.svg");
    width: 20px;
    height: 20px;
    padding: 6px;
    background-size: 15px;
    border-radius: 50%;
    border: solid $clr-text 2px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}
#instagram:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transform:scale(1.1);
    background: url("/images/403,5-instagram.svg");
    width: 20px;
    height: 20px;
    padding: 6px;
    background-size: 15px;
    border-radius: 50%;
    border: solid $clr-text 2px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}
