header{
    padding: 20px;
    img{
        max-width: 250px;
    }
}
main{
    padding: 40px 20px 0px 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto-fill 1fr 1fr;
    grid-gap: 20px;
    section{
        img{
            max-width: 400px;
        }
    }
}