@import "./utilities";
@import "./main";
@import "./content";
@import "./footer";

body{
    background-color: $clr-bg;
    color :white;
    background-image: url("/images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and(min-width: 800px){
    body{
        background-image: url("/images/bg-desktop.svg");
        background-size: cover;
        min-height: 100vh;
    }
}

